#container-category {
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 15px;
  padding: 10px;
}
  
.grid-container > a {
  background: #f9c13e;
  text-align: center;
  padding: 50px 10px;
  font-size: 30px;
}

.btn-category {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background: #f9c13e;
  border-radius: 5px;
}

.btn-category:hover {
  cursor: pointer;
  background: #f9f2db;
  color: #f2624f;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  transition: transform 150ms;
  transform: scale(1.03);
}

.navbar {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: -2rem 0 10rem 0 !important;
}

.fa-house {
  font-size: 3rem;
  background: none !important;
}

.fa-house:hover {
  color: #f9c13e;
}