@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    background-color: #78ccea;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

.spanish-flag {
    height: 200px;
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}

.spanish-phrases {
    height: 330px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #e9643d;
}

.mb-1 {
    margin-bottom: 1rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #e9643d;
}

h4 {
    font-size: 1.7rem;
    margin: 6rem 0 2rem;
    text-align: center;
    color: darkslategrey;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

#home {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 30px;
    min-height: 80vh;
    min-width: 80vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

button, .btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: #44bba0;
    border-radius: 5px;
    border: none;
    border: 2px solid #44bba0;
}

button:hover, .btn:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #44bba0;
    transition: transform 150ms;
    transform: scale(1.1);
    border: 2px solid #44bba0;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 10px;
    background: whitesmoke;
    font-size: 3rem;
    min-width: 80rem;
    position: relative;
    bottom: 100px;
}

.choice-container:hover {
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.03);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    border-radius: 10px 0 0 10px;
    background-color: #44bba0;
    color: whitesmoke;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    color: darkslategray;
    border: 2px solid #44bba0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
    display: flex !important;
    justify-content: center !important;
}

.fa-house {
    font-size: 4rem;
    color: #78ccea;
    padding: 2rem 0 4rem 0;
    background: none !important;
}

.house-category {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fa-graduation-cap {
    font-size: 3.5rem;
    color: #78ccea;
    padding: 2rem 0 4rem 0;
    background: none !important;
    display: flex;
    justify-content: center;
}

.correct {
    background: #94AA5E;
}

.incorrect {
    background: #CC263F;
}

/* HUD */
.hud {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: darkslategray;
}

.hud-main-text {
    text-align: center;
    color: darkslategray;
}

/* Game */
#game {
    background-color: whitesmoke;
    padding: 200px;
    border-radius: 30px;
    min-width: 80vw;
    height: 80vh;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid darkslategray;
    border-radius: 50px;
    margin-top: 2rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: darkslategray;
    width: 0%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

.question {
    position: relative;
    top: -100px;
}

#question {
    position: relative;
    top: -100px;
}

/* Categories */
#container-category {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    background-color: whitesmoke;
    padding: 50px 300px;
    border-radius: 30px;
    min-width: 80%;
    height: 80vh;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 15px;
  padding: 10px;
}
  
.grid-container > a {
  background: #44bba0;
  text-align: center;
  padding: 50px 10px;
  font-size: 30px;
}

.btn-category {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background: #44bba0;
  border-radius: 5px;
  border: 2px solid #44bba0;
}

.btn-category:hover {
  cursor: pointer;
  background: whitesmoke;
  color: #44bba0;
  border: 2px solid #44bba0;
}

.navbar {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem 0 3rem 0 !important;
}

.fa-house {
  font-size: 3rem;
  background: none !important;
}

#category {
    font-size: 2rem;
    padding: 2rem 0;
    color: darkslategray;
    position: relative;
    bottom: 100px;
}

/* End screen */
#end {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 30px;
    min-width: 80vw;
    height: 80vh;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 2rem;
    font-size: 2.4rem;
    color: #515052;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(10, 45, 101, 0.5);
    text-align: center;
}

input::placeholder {
    color: lightgray;
    text-align: center;
}

/* Highscores */
#highScores {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 30px;
    height: 80vh;
    min-width: 80vw;
}

#highScoresList {
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    color: darkslategray;
}

.high-score:hover {
    transform: scale(1.025);
}

/* Loader */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #e9643d;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries */

/* Homepage */
@media screen and (max-width: 1024px) {
    .spanish-phrases {
        height: 280px;
    }

    .spanish-flag {
        height: 187px;
    }
}

@media screen and (max-width: 768px) {
    .spanish-phrases {
        height: 220px;
    }

    .spanish-flag {
        height: 160px;
    }
}

@media screen and (max-width: 425px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 13rem;
    }

    .spanish-flag {
        height: 122px;
        left: 14rem;
    }
}

@media screen and (max-width: 390px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 11rem;
    }

    .spanish-flag {
        height: 122px;
        left: 12rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 23px;
    }
}

@media screen and (max-width: 320px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 8rem;
    }

    .spanish-flag {
        height: 122px;
        left: 9rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 20px;
    }

    button, .btn {
        padding: 1rem 0;
        width: 21rem;
    }
}

/* Categories */
@media screen and (max-width: 1440px) {
    .category {
        padding: 0;
    }

    .grid-container {
        padding: 50px 116px;
    }

    .grid-container > a {
        padding: 30px 10px;
    }

    .category-title {
        position: relative;
        top: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .spanish-phrases {
        height: 280px;
    }

    .spanish-flag {
        height: 187px;
    }

    .category {
        padding: 0;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        padding: 28px;
    }

    .category-title {
        top: 6rem;
        position: relative;
        font-size: 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .spanish-phrases {
        height: 220px;
    }

    .spanish-flag {
        height: 160px;
    }

    .grid-container > a {
        font-size: 20px;
        top: 4rem;
        position: relative;
    }

    .title1, .title2 {
        position: relative;
        top: 2rem;
    }

    .category-title {
        position: relative;
        top: 7rem;
    }
}

@media screen and (max-width: 425px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 13rem;
    }

    .spanish-flag {
        height: 122px;
        left: 14rem;
    }

    .category-title {
        top: 6rem;
        font-size: 2.4rem;
    }

    #home {
        padding: 20px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        width: 71%;
        margin: auto;
        gap: 15px;
        padding: 0px;
        position: relative;
    }

    .grid-container > a {
        padding: 20px 10px;
        font-size: 17px;
    }

    .navbar {
        top: 6rem;
        position: relative;
    }

    .title1, .title2 {
        position: relative;
        top: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 11rem;
    }

    .spanish-flag {
        height: 122px;
        left: 12rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 23px;
    }

    .grid-container > a {
        padding: 20px 10px;
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        width: 71%;
        margin: auto;
        gap: 6px;
        padding: 0px;
        position: relative;
        top: 1rem;
    }

    button, .btn {
        font-size: 2rem;
        width: 25rem;
    }

    .title2, .title1 {
        position: relative;
        top: 3rem;
    }

}

@media screen and (max-width: 320px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 8rem;
    }

    .spanish-flag {
        height: 122px;
        left: 9rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 20px;
    }

    button, .btn {
        padding: 1rem 0;
        width: 21rem;
        font-size: 2rem;
    }

    .grid-container > a {
        padding: 6px 10px;
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr);
        gap: 9px;
        bottom: 1rem;
    }

    .category-title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .title1 {
        top: 4rem;
        position: relative;
    }

    .title2 {
        position: relative;
        top: 4.5rem;
        font-size: 2rem;
    }

    .title3 {
        font-size: 1.4rem;
        position: relative;
        top: 1rem;
    }
}

/* Quiz Page */
@media screen and (max-width: 1440px) {
    .hud {
        position: relative;
    }

    .question {
        width: 100%;
        margin: auto;
        top: 2rem;
    }

    #question {
        font-size: 4.5rem;
        top: 2rem;
    }

    .choice-container-grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 0 15px;
        position: relative;
        top: 12rem;
    }

    .choice-container {
        min-width: 40rem;
    }

    #game {
        padding: 60px;
    }

    #category {
        text-align: center;
        top: 3rem;
    }

    .icon-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        bottom: 4rem;
    }

    .spanish-phrases-game {
        position: absolute;
        height: 300px;
        top: -15rem;
        left: 38rem;
    }
}

@media screen and (max-width: 1024px) {
    .spanish-phrases {
        height: 280px;
    }

    .spanish-flag {
        height: 187px;
    }

    .category {
        padding: 0;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        padding: 28px;
    }

    .category-title {
        top: 6rem;
        position: relative;
        font-size: 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .spanish-phrases {
        height: 220px;
    }

    .spanish-flag {
        height: 160px;
    }

    .grid-container > a {
        font-size: 20px;
        top: 4rem;
        position: relative;
    }

    .title1, .title2 {
        position: relative;
        top: 2rem;
    }

    .category-title {
        position: relative;
        top: 7rem;
    }
}

@media screen and (max-width: 425px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 13rem;
    }

    .spanish-flag {
        height: 122px;
        left: 14rem;
    }

    .category-title {
        top: 6rem;
        font-size: 2.4rem;
    }

    #home {
        padding: 20px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        width: 71%;
        margin: auto;
        gap: 15px;
        padding: 0px;
        position: relative;
    }

    .grid-container > a {
        padding: 20px 10px;
        font-size: 17px;
    }

    .navbar {
        top: 6rem;
        position: relative;
    }

    .title1, .title2 {
        position: relative;
        top: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 11rem;
    }

    .spanish-flag {
        height: 122px;
        left: 12rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 23px;
    }

    .grid-container > a {
        padding: 20px 10px;
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        width: 71%;
        margin: auto;
        gap: 6px;
        padding: 0px;
        position: relative;
        top: 1rem;
    }

    button, .btn {
        font-size: 2rem;
        width: 25rem;
    }

    .title2, .title1 {
        position: relative;
        top: 3rem;
    }

}

@media screen and (max-width: 320px) {
    .spanish-phrases {
        height: 170px;
        top: 1rem;
        left: 8rem;
    }

    .spanish-flag {
        height: 122px;
        left: 9rem;
    }

    #home {
        background-color: whitesmoke;
        padding: 20px;
    }

    button, .btn {
        padding: 1rem 0;
        width: 21rem;
        font-size: 2rem;
    }

    .grid-container > a {
        padding: 6px 10px;
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: minmax(0, 1fr);
        gap: 9px;
        bottom: 1rem;
    }

    .category-title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .title1 {
        top: 4rem;
        position: relative;
    }

    .title2 {
        position: relative;
        top: 4.5rem;
        font-size: 2rem;
    }

    .title3 {
        font-size: 1.4rem;
        position: relative;
        top: 1rem;
    }
}